<!-- <div class="main">
 <div class="form-container">
      <p class="title">Create account</p>
      <form class="form" (ngSubmit)="signup()">
        <input type="text" class="input" placeholder="Name" [(ngModel)]="username" name="username" required>
        <input type="email" class="input" placeholder="Email" [(ngModel)]="email" name="email" required>
        <input type="password" class="input" placeholder="Password" [(ngModel)]="password" name="password" required>
        <button class="form-btn">Create account</button>
      </form>
      <p class="sign-up-label">
        <a href="">
        Already have an account?<span class="sign-up-link">Log in</span></a>
      </p>
      <div class="buttons-container">
    </div>

</div> -->