<!-- <div class="main">
<div class="form-container">
    <p class="title">Welcome back</p>
    <form class="form" (ngSubmit)="login()">
      <input type="email" class="input" placeholder="Email" [(ngModel)]="email" name="email" required>
      <input type="password" class="input" placeholder="Password" [(ngModel)]="password" name="password" required>
      <p class="page-link">
        <a href="/forget">
        <span class="page-link-label">Forgot Password?</span></a>
      </p>
      <button class="form-btn" >Log in</button>
    </form>
    <p class="sign-up-label">
        <a href="/signup">
      Don't have an account?<span class="sign-up-link">Sign up</span></a>
    </p>
    <div class="buttons-container">
</div> -->
<div class="main">
    <div class="container" id="container" [ngClass]="{'active': isActive}">
        <div class="form-container sign-up">
            <form (ngSubmit)="signup()">
                <h1  class="createc">Create Account</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div> -->
                <span>Use your email for registeration</span>
                <input type="text" placeholder="Name"  [(ngModel)]="username" name="usernameR">
                <input type="email" placeholder="Email" [(ngModel)]="email" name="emailR" required>
                <input type="password" placeholder="Password" [(ngModel)]="password" name="passwordR" required>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form (ngSubmit)="login()">
                <h1>Sign In</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div> -->
                <span>Use your email password</span>
                <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
                <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
                <a href="\forget">Forget Your Password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                @if (isActive) {
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details to use all of site features</p>
                        <button class="hidden" id="login" (click)="toggleActive()">Sign In</button>
                    </div>

                }
                @else{
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>Register with your personal details to use all of site features</p>
                        <button class="hidden" id="register" (click)="toggleActive()">Sign Up</button>
                    </div>

                }


            </div>
        </div>
    </div>
</div>
