<header class="site-header">
    <div class="logo">
      <a routerLink="/home">MarineAI</a> <!-- Logo link to the homepage -->
    </div>
  
    <!-- Navigation Menu -->
    <nav class="nav-menu">
      <ul class="list">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/main" routerLinkActive="active">Main</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
        <li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
      </ul>
    </nav>
  </header>
  