@media (max-width: 1440px) {
    .Container {
        width: 100%; /* or any other value */
    }
}

            /* Hover effect for the button */
.Button15:hover {
                background: #565D6D; /* Change background on hover */
                transform: scale(1.05); /* Slightly enlarge the button */
                cursor: pointer; /* Change cursor on hover */
}
        
            /* Hover effect for the menu items */
.HeaderMenu .Frame div:hover {
                color: #636AE8; /* Change color on hover */
                cursor: pointer; /* Change cursor on hover */
}